body{
    /* background-color: rgb(122, 160, 190); */
    height: 100vh;
    background-image: radial-gradient(rgb(190, 223, 242),rgb(106, 176, 220) );
    
}

input{
       color: rgb(231, 239, 239);
        font-size: 17px;
        border: none;
        outline:none;       
        background: #0b203b; 
        float: left;
        width: 80%; 
        /* border-radius: 10px;  */
        
}
input::placeholder{
    
    color: rgb(179, 179, 184);
}

button{
    background: #0b203b; 
  color: rgb(11, 8, 8);
  font-size: 17px;
  border: none;
  float: left;
  width: 20%;
  cursor: pointer;
  /* border-radius: 30px; */
}

